<body>
    <div class="container">
  
      <h2> Quantidade de usuários cadastrados </h2>
      <p id="total-users">10</p>
          <table class="table table-striped table-bordered">
  
            <thead>
              <tr>
                <th id="funcao" scope="col-6">Função</th>
                <th scope="col-6">Quantidade</th>
              </tr>
            </thead>
      
            <tbody>
              <tr>
                <td class="fc">Engenheiro de FE</td>
                <td>3</td>
              </tr>
              <tr>
                <td class="fc">Engenheiro de BE</td>
                <td>3</td>
              </tr>
              <tr>
                <td class="fc">Analísta de Dados</td>
                <td>3</td>
              </tr>
              <tr>
                <td class="fc">Líder Técnico</td>
                <td>1</td>
              </tr>
            </tbody>
      
          </table>
        </div>
  </body>
  
  
